.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth-forms {
  width: 500px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

.imageTag {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.profileCard {
  padding-right: 15px;
  padding-left: 15px;
  margin: 20px auto;
  max-width: 500px;
}

.category-padding {
  color: #4c4f58;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  background: rgb(203, 241, 241);
}

.poemCard {
  width: 100%;
  margin-bottom: 10px;
}

.comment-style {
  font-family: 'Playfair Display', serif;
}

.clickable {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.clickable:hover {
  background-color: #f0f1e9;
}

.heart-styling {
  cursor: pointer;
  color: rgb(156, 6, 6);
}

.plain-text {
  display: block;
  font-size: 1.2rem;
  color: #212529;
  margin: 2rem 0;
  white-space: pre;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
