.App {
  text-align: center;
  width: 100vw;
}

.imageTag {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.profileCard {
  padding-right: 15px;
  padding-left: 15px;
  margin: 20px auto;
  max-width: 500px;
}

.category-padding {
  color: #4c4f58;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  background: rgb(203, 241, 241);
}

.poemCard {
  width: 100%;
  margin-bottom: 10px;
}

.comment-style {
  font-family: 'Playfair Display', serif;
}

.clickable {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.clickable:hover {
  background-color: #f0f1e9;
}

.heart-styling {
  cursor: pointer;
  color: rgb(156, 6, 6);
}

.plain-text {
  display: block;
  font-size: 1.2rem;
  color: #212529;
  margin: 2rem 0;
  white-space: pre;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

.navbar-brand > img {
  width: 6rem;
}

.profiles > img {
  width: 100px;
}

.notFoundPage {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
  height:80vh;
  padding: 0;
  margin:0
}
.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}
