.App {
  text-align: center;
  width: 100vw;
}

.imageTag {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.profileCard {
  padding-right: 15px;
  padding-left: 15px;
  margin: 20px auto;
  max-width: 500px;
}

.category-padding {
  color: #4c4f58;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  background: rgb(203, 241, 241);
}

.poemCard {
  width: 100%;
  margin-bottom: 10px;
}

.comment-style {
  font-family: 'Playfair Display', serif;
}

.clickable {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.clickable:hover {
  background-color: #f0f1e9;
}

.heart-styling {
  cursor: pointer;
  color: rgb(156, 6, 6);
}

.plain-text {
  display: block;
  font-size: 1.2rem;
  color: #212529;
  margin: 2rem 0;
  white-space: pre;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

.navbar-brand > img {
  width: 6rem;
}